
 /* cartes */  
.card {
    width: 12rem;
    height: 18rem;
}
.card-text {
    font-size: x-small;
}


/* zone drop */
.target,.start {
    background-color: rgba(133, 141, 133, 0.856);
    width: 20rem;
    min-height: 27rem; 
    padding: 3%;
}

