
 /* cartes */  
.card {
    width: 15rem;
    height: 22rem;
}
.card-text {
    font-size: 12px;
}

/* zone drop */
.start {
    background-color: rgba(133, 141, 133, 0.856);
    width: 17rem;
    min-height: 27rem; 
    padding: ;
}

.target {
    background-color: rgba(133, 141, 133, 0.856);
    width: 17rem;
    min-height: 27rem;
    padding : 3%;
}

/*  element droppé */
.objet-target {
    background-color: #F18F1F;
    margin: 5px;
}


